body {
  margin: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.tilt-box {
  transform: rotate(-6deg);
  text-align: center;
  color: #edb7b7;
}

img {
  width: 260px;
  border-radius: 12px;
  transform: rotate(8deg);
  margin: 20px 0;
}
